@model IEnumerable<SaveEVS.Models.Suggestion>

@{
    ViewBag.Title = "AllDetail";
}

<h2>All Detail</h2>

<p>
    @Html.ActionLink("Add New ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Update </th>
        <th>Delete </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>



<hr />
<a href="@Url.Action("RightLogin","Admin")" style="font-size:1.5em;">Move to Dashboard </a>
